<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">

  <% if defined?side_content %>
      <header class="section__play-btn mdl-cell mdl-cell--3-col-desktop mdl-cell--3-col-tablet mdl-cell--4-col-phone mdl-color--teal-100 mdl-color-text--white">
        <% case side_content[:type] %>
            <% when :image %>
                <img src="<%=side_content[:url]%>" />
            <% else %>

        <% end %>
      </header>
  <% end %>

  <div class="mdl-card mdl-cell mdl-cell--9-col-desktop mdl-cell--5-col-tablet mdl-cell--4-col-phone">
    <div class="mdl-card__supporting-text">
      <h4><%=title%></h4>
      <%=body%>
    </div>
    <% if defined?bottom_link %>
        <div class="mdl-card__actions">
          <a href="<%=bottom_link[:url]%>" class="mdl-button"><%=bottom_link[:title]%></a>
        </div>
    <% end %>
  </div>

  <% if (defined?context_menu) %>
      <% random_id = ('0'..'z').to_a.shuffle.first(8).join %>
      <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="<%= random_id %>">
        <i class="material-icons">more_vert</i>
      </button>
      <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right" for="<%= random_id %>">
        <% context_menu.each do |item| %>
            <li <%=item[:disabled]?"disabled":""%> class="mdl-menu__item"><%=item[:title] %></li>
        <% end %>
      </ul>
  <% end %>
</section>