
<html>
<head>
  <title>sh2</title>
  <%= include_gon(:init => true) %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.4/material.brown-red.min.css"
        data-turbolinks-track="true"/>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Add to homescreen for Chrome on Android -->
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="icon" sizes="192x192" href="images/touch/chrome-touch-icon-192x192.png">

  <!-- Add to homescreen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Material Design Lite">
  <link rel="apple-touch-icon-precomposed" href="apple-touch-icon-precomposed.png">

  <!-- Tile icon for Win8 (144x144 + tile color) -->
  <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
  <meta name="msapplication-TileColor" content="#3372DF">
</head>


<body class="<%= main_path %> <%= controller_name %>_ctrl <%= action_name %>_view mdl-demo mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header mdl-layout__header--scroll mdl-color--primary">
    <nav class="sh-top-nav mdl-navigation mdl-color--primary-dark">
      <a href="/news" class="mdl-navigation__link news">NEWS</a>
      <a href="#overview" class="mdl-navigation__link">FEATURES</a>
      <a href="#overview" class="mdl-navigation__link">DETAILS</a>

      <!--<button class="mdl-button mdl-js-button mdl-button&#45;&#45;fab mdl-js-ripple-effect mdl-button&#45;&#45;colored mdl-shadow&#45;&#45;4dp mdl-color&#45;&#45;accent" id="add">-->
      <!--<i class="material-icons" role="presentation">add</i>-->
      <!--<span class="visuallyhidden">Add</span>-->
      <!--</button>-->
    </nav>

  </header>
  <main class="mdl-layout__content">

    <%=yield%>

    <footer class="mdl-mini-footer">
      <div class="mdl-mini-footer__left-section">
        <div class="mdl-logo"><%= Sh2::Application.config.app_name %></div>
        <ul class="mdl-mini-footer__link-list">
          <li><a href="#">Help</a></li>
          <li><a href="#">Privacy & Terms</a></li>
        </ul>
      </div>
    </footer>
  </main>
</div>

<script>
    // fix MDL to wok with turbolinks
    componentHandler.upgradeDom();
</script>
</body>
</html>
